services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.2
    container_name: rag-es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200 >/dev/null || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 30

  api:
    build: .
    container_name: rag-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - ragdata:/data
    environment:
      - LOCAL_STORAGE_DIR=/data
    command: gunicorn -w 1 -b 0.0.0.0:8000 --reload wsgi:application
    depends_on:
      elasticsearch:
        condition: service_healthy


  # api:
  #   build: .
  #   container_name: rag-api
  #   env_file:
  #     - .env
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     elasticsearch:
  #       condition: service_healthy


volumes:
  esdata:
  ragdata:
